<div class="container">
  <h2> Employee form</h2>

  <form  [formGroup]="employeeform"  (ngSubmit)="onsubmit()">
    <div class="mb-3 mt-3">
      <label for="name" class="form-label"><b>Name:</b> </label>
      <input type="text" class="form-control" id="name" placeholder=" Enter name" formControlName="name">
    </div>
    <div>
      <small *ngIf="employeecontrols.name.invalid && employeecontrols.name.touched"> Name is required</small>
    </div>
    
    <div class="mb-3">
      <label for="id" class="form-label"><b>ID:</b> </label>
      <input type="number" class="form-control" id="id" placeholder="Enter id" formControlName="id">
    </div>
    <div>
      <small *ngIf="employeecontrols.id.invalid && employeecontrols.id.touched"> ID is required</small>
    </div>
    

    <div class="mb-3">
      <label for="dob" class="form-label"><b>DOB:</b></label>
      <input type="date" class="form-control" id="dob" placeholder="Enter DOB"  formControlName="dob">
    </div>
    <div>
      <small *ngIf="employeecontrols.dob.invalid && employeecontrols.dob.touched"> DOB is required</small>
    </div>
    

    <div class="mb-3">
      <label for="position" class="form-label"><b>Position:</b></label>
      <input type="text" class="form-control" id="position" placeholder="Enter position"  formControlName="position">
    </div>
    <div>
      <small *ngIf="employeecontrols.position.invalid && employeecontrols.position.touched"> Position is required</small>
    </div>

   <div class="mb-3">
      <label for="email" class="form-label"><b>Email:</b> </label>
      <input type="email" class="form-control" id="Email" placeholder="Enter Email" formControlName="email">
    </div>
    <div>
      <small *ngIf="employeecontrols.email.invalid &&  employeecontrols.email.touched"> Enter the valid email</small>
    </div>
    
    
    <div class="mb-3">
      <label for="address" class="form-label"><b>Address</b> </label>
      <input type="address" class="form-control" id="address" placeholder="Enter address" formControlName="address">
    </div>
    <div>
      <small *ngIf="employeecontrols.address.invalid && employeecontrols.address.touched"> Address is required</small>
    </div>
    

   
    <button type="submit" class="btn btn-primary">{{editmode ? 'update' : 'submit'}}</button>
    <!-- <button type="button" class="btn btn-primary"  (click)="update(employeeform,k)">update</button> -->
    
   
    
  </form>
</div>



<div class="container mt-3">
  <h2>Employee table</h2>
              
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>position</th>
        <th>address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of employeedetails;let k=index">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.position}}</td>
        <td>{{i.address}}</td>

        <button type="button" class="btn btn-danger"  (click)="OnDeleteClicked(i)">Delete</button>
        <button type="button" class="btn btn-success"(click)="OnEditClicked(i,k)">Edit</button>
      </tr>




